.gradient {
  display: block;
  width: 150px;
  height: 100px;
}

.first {
  background: linear-gradient(-30deg, #ff6d00 15%, #ffff00 50%, #ff6d00 87%);
}

.second {
  margin-top: 20px;
  background: radial-gradient(circle, #2c0b58 5%, #ff7c00 58%);
}

.third {
  margin-top: 20px;
  background-color: #ff7c00;
}

.third:hover {
  transform: scale(2);
}

.flipper:hover {
		transform: rotateY(180deg);
}

.flipper, .front, .back {
	width: 320px;
	height: 480px;
}

.flipper {
  margin-top: 20px;
  perspective: 500px;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  text-align: center;
  color: #ffffff;
}

.front {
	z-index: 2;
  background: radial-gradient(circle, #2c0b58 5%, #ff7c00 58%);
	transform: rotateY(0deg);
}

.back {
  background: linear-gradient(-30deg, #ff6d00 15%, #ffff00 50%, #ff6d00 87%);
	transform: rotateY(180deg);
}
